@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

article {
    text-align: justify;
}

header {
    background-image: Linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.482);

}

header>h1 {
    color: white;
    font-family: var(--font-padrao);
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.482);


}

header>p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 650px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;

}

nav {
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.429);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
        background-color: var(--cor3);
        color: var(--cor5)
}

h1 {
    font-family: var(--fonte-destaque);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.299);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: white;
}

main img {
    width: 100%;


}

main img.pequena {
    width: 45%;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);

}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}

main h3 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}