@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

article {
    text-align: justify;
}

header { 
    background-color: var(--cor4);
    padding: 15px;
}

header > h1 {
    color: white;
    font-family: var(--font-padrao);
    
}

header > p {
    color: white;
}

nav {
     background-color: var(--cor5);
     padding: 15px;
     text-decoration: none;
}

h1 {
    font-family: var(--fonte-destaque);
}

main {
    background-color: white;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);

}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}

main h3 {
    color: var(--cor5);
    font-family: var(--fonte-destaque);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}