@charset "UTF-8";

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    color: white;
}

.secundario {
    text-align: left;
    font-size: 35px;
}

h2 {
    text-align: center;
}

#box {
    background-color: black;
    padding: 30px;
}

main {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    color: white
}